# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
.snapshots/
scripts/.env
node_modules/
package-lock.json
.product/assets/Icons/travelers_chest_concept_0.psd
scripts/
.product/assets/Movies/travelers_chest_mov.mp4
.product/assets/Movies/travelers-chest-animated.gif
.product/assets/Movies/quick-demo.wfp
